.vh-95 {
  height: 95vh !important;
}

.chat-window {
  z-index: 100;
  height: 100%;
  overflow: hidden;
}

/* .chat-height {
  height: calc(100% - 20vh) !important;
} */

.chat-message-right,
.chat-message-left {
  display: flex;
  flex-shrink: 0;
}

.chat-message-left {
  margin-right: auto;
}
.chat-message-right {
  margin-left: auto;
  flex-direction: row-reverse;
}

.chat-input {
  position: static;
  bottom: 0;
}
/* 
.styles_scrollable-div_prSCv {
  max-height: calc(100% - 2px) !important;
  height: calc(100% - 2px) !important;
  max-height: -webkit-fill-available !important;
  height: 750px !important;
  overflow-y: auto !important;
} */

.styles_scrollable-div__prSCv{
  max-height: -webkit-fill-available !important;
  height: 750px !important;
  overflow-y: auto !important;
}